<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

      <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="slerp-eclipse-plugin"
            name="Slerp">
      </category>
      <wizard
            category="slerp-eclipse-plugin"
            class="org.slerp.plugin.wizard.ProjectWizard"
            icon="icons/sample.gif"
            id="org.slerp.plugin.wizard.ProjectWizard"
            name="New Service Project">
      </wizard>
   </extension>

</plugin>
